<h1>Signup Member</h1>

<div id="msg_div"></div>


<script>
'use strict';

var waiting_char = "⌛";
var success_char = "✓";
var fail_char = "✗";

var member_id;
var wa_id = {{{wa_id}}};
var first_name = "{{{first_name}}}";
var last_name = "{{{last_name}}}";
var phone = "{{{phone}}}";
var email = "{{{email}}}";

var msg_div;
var actions;
var create_member;
var wa_create;
var rfid_activate;
var member_activate;
var upload_photo;
var google_activate;
var email_indiv_activate;
var email_group_activate;
var rfid;
var photo;
var photo_preview;


function set_waiting( element )
{
    element
        .find( ".state-char" )
        .text( waiting_char );
    element
        .find( ".retry-btn" )
        .hide();
}

function set_fail( element )
{
    element
        .find( ".state-char" )
        .text( fail_char );
    element
        .find( ".retry-btn" )
        .show();
}

function set_success( element )
{
    element
        .find( ".state-char" )
        .text( success_char );
    element
        .find( ".retry-btn" )
        .hide();
}

function begin_member_create()
{
    return new Promise( function( resolve, reject ) {
        set_waiting( $( "#create_member_bullet" ) );

        $.ajax( "/api/v1/member", {
            "type": "PUT",
            "contentType": "application/json",
            "data": JSON.stringify({
                rfid: rfid.val()
                ,firstName: first_name
                ,lastName: last_name
                ,phone: phone || "000 000 0000"
                ,email: email
            }),
            "error": function (jqXHR, str, exception) {
                set_fail( $( "#create_member_bullet" ) );
                reject( new Error( "Error creating member: " + str ) );
            },
            "success": function (data, str, jqXHR) {
                set_success( $( "#create_member_bullet" ) );
                resolve( data.id );
            }
        });
    });
}

function begin_wa( member_id )
{
    return new Promise( function( resolve, reject ) {
        set_waiting( $( "#wa_create_bullet" ) );

        $.ajax( "/api/v1/member/" + member_id + "/wildapricot", {
            "type": "PUT",
            "contentType": "application/json",
            "data": JSON.stringify({
                wild_apricot_id: wa_id
            }),
            "error": function (jqXHR, str, exception) {
                set_fail( $( "#wa_create_bullet" ) );
                reject( new Error( "Error activating Wild Apricot: " + str ) );
            },
            "success": function (data, str, jqXHR) {
                set_success( $( "#wa_create_bullet" ) );
                resolve();
            }
        });
    });
}

function begin_rfid( member_id )
{
    return new Promise( function( resolve, reject ) {
        set_waiting( $( "#rfid_activate_bullet" ) );

        $.ajax( "/api/v1/member/" + member_id + "/rfid", {
            "type": "PUT",
            "contentType": "application/json",
            "data": JSON.stringify({
                rfid: rfid.val()
            }),
            "error": function (jqXHR, str, exception) {
                set_fail( $( "#rfid_activate_bullet" ) );
                reject( new Error( "Error activating RFID tag: " + str ) );
            },
            "success": function (data, str, jqXHR) {
                set_success( $( "#rfid_activate_bullet" ) );
                resolve();
            }
        });
    });
}

function begin_member_activate( member_id )
{
    return new Promise( function( resolve, reject ) {
        set_waiting( $( "#member_activate_bullet" ) );

        $.ajax( "/api/v1/member/" + member_id + "/is_active", {
            "type": "PUT",
            "error": function (jqXHR, str, exception) {
                set_fail( $( "#member_activate_bullet" ) );
                reject( new Error( "Error activating member: " + str ) );
            },
            "success": function (data, str, jqXHR) {
                set_success( $( "#member_activate_bullet" ) );
                resolve();
            }
        });
    });
}

function begin_upload_photo( member_id )
{
    return new Promise( function( resolve, reject ) {
        set_waiting( $( "#upload_photo_bullet" ) );

        var input = photo[0];
        if( input.files && input.files[0] ) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var array_buf = e.target.result;
                var data = new Uint8Array( array_buf );

                $.ajax( "/api/v1/member/" + member_id + "/photo", {
                    "type": "PUT",
                    // We're only doing jpeg right now, but we 
                    // might not in the future.
                    "contentType": "image/jpeg",
                    "data": data,
                    "processData": false,
                    "error": function (jqXHR, str, exception) {
                        set_fail( $( "#upload_photo_bullet" ) );
                        reject( new Error(
                            "Error activating member: " + str ) );
                    },
                    "success": function (data, str, jqXHR) {
                        set_success( $( "#upload_photo_bullet" ) );
                        resolve();
                    }
                });

            };

            reader.readAsArrayBuffer( input.files[0] );
        }
        else {
            set_success( $( "#upload_photo_bullet" ) );
            resolve();
        }
    });
}

function begin_google( member_id )
{
    set_waiting( $( "#google_activate_bullet" ) );

    $.ajax( "/api/v1/member/" + member_id + "/google_group_signup", {
        "type": "PUT",
        "error": function (jqXHR, str, exception) {
            set_fail( $( "#google_activate_bullet" ) );
            reject( new Error( "Error signing up for group " + list + ": "
                + str ) );
        },
        "success": function (data, str, jqXHR) {
            set_success( $( "#google_activate_bullet" ) );
            resolve();
        }
    });
}

function begin_email_indiv( member_id )
{
    return new Promise( function( resolve, reject ) {
        set_waiting( $( "#email_indiv_activate_bullet" ) );

        $.ajax( "/api/v1/member/" + member_id + "/send_signup_email", {
            "type": "POST",
            "error": function (jqXHR, str, exception) {
                set_fail( $( "#email_indiv_activate_bullet" ) );
                reject( new Error( "Error sending mail to individual: "
                    + str ) );
            },
            "success": function (data, str, jqXHR) {
                set_success( $( "#email_indiv_activate_bullet" ) );
                resolve();
            }
        });
    });
}

function begin_email_group( member_id )
{
    return new Promise( function( resolve, reject ) {
        set_waiting( $( "#email_group_activate_bullet" ) );

        $.ajax( "/api/v1/member/" + member_id + "/send_group_signup_email", {
            "type": "POST",
            "error": function (jqXHR, str, exception) {
                set_fail( $( "#email_group_activate_bullet" ) );
                reject( new Error( "Error sending mail to group: "
                    + str ) );
            },
            "success": function (data, str, jqXHR) {
                set_success( $( "#email_group_activate_bullet" ) );
                resolve();
            }
        });
    });
}

function begin_activation_process( member_id )
{
    // RFID must be set before we do anything
    var is_valid = true;
    if(! rfid.val() ) {
        rfid.effect( "shake" );
        is_valid = false;
    }

    // Photo must also be set
    if(! photo.val() ) {
        photo.effect( "shake" );
        is_valid = false;
    }

    if(! is_valid) return;


    // Critical items go first, with any other dependencies later. Finally, 
    // less critical items run together.
    begin_member_create()
        .then( function( member_id ) {
            Promise.all([
                begin_wa( member_id )
                ,begin_rfid( member_id )
            ]).then(
                begin_member_activate( member_id )
            ).then(
                begin_upload_photo( member_id )
            ).then(
                Promise.all([
                    begin_google( member_id )
                    ,begin_email_indiv( member_id )
                    ,begin_email_group( member_id )
                ])
            );
        })
        .catch( (err) => {
            msg_div.text( err.toString() );
        });
    return;
}

function show_preview_photo( input )
{
    if( input.files && input.files[0] ) {
        var reader = new FileReader();

        reader.onload = function (e) {
            photo_preview.attr( 'src', e.target.result );
        };

        reader.readAsDataURL( input.files[0] );
    }

    return;
}


$( document ).ready(function () {
    msg_div = $( "#msg_div" );
    actions = $( ".action" );
    create_member = $( "#create_member" );
    wa_create = $( "#wa_create" );
    rfid_activate = $( "#rfid_activate" );
    member_activate = $( "#member_activate" );
    upload_photo = $( "#upload_photo" );
    google_activate = $( "#google_activate" );
    email_indiv_activate = $( "#email_indiv_activate" );
    email_group_activate = $( "#email_group_activate" );
    rfid = $( "#rfid" );
    photo = $( "#photo" );
    photo_preview = $( "#member_photo" );

    var activate_btn = $( "#activate_btn" );
    activate_btn.on( "click", begin_activation_process );
});
</script>


<form id="signup" method="POST">


<ul>
    <li>First Name: {{{first_name}}}</li>
    <li>Last Name: {{{last_name}}}</li>
    <li>Phone: {{{phone}}}</li>
    <li>Email: {{{email}}}</li>
    <li>Wild Apricot ID: {{{wa_id}}}</li>
    <li>RFID: <input id="rfid" type="text" name="rfid"></li>
    <li>Photo: <input id="photo" type="file" name="photo"
        onChange="show_preview_photo( this )"
        accept=".jpg,.jpeg"
        ></li>
</ul>

<p><img id="member_photo" src="/img/upload_placeholder.png"
    width="800" height="600" alt="Upload Photo"></p>

<h2>Actions</h2>


<p><input id="activate_btn" type="button" value="Activate Member"></p>
<ul class="actions">
    <li id="create_member" class="action">
        <span id="create_member_bullet">
            <span class="state-char">►</span>
            <span class="retry-btn" onClick="begin_member_create()">Retry</span>
        </span>
        Create Member in Local Database</li>
    <li id="wa_create" class="action">
        <span id="wa_create_bullet">
            <span class="state-char">►</span>
            <span class="retry-btn" onClick="begin_wa()">Retry</span>
        </span>
        Set Wild Apricot ID in Local Database</li>
    <li id="rfid_activate" class="action">
        <span id="rfid_activate_bullet">
            <span class="state-char">►</span>
            <span class="retry-btn" onClick="begin_rfid()">Retry</span>
        </span>
        Save RFID</li>
    <li id="member_activate" class="action">
        <span id="member_activate_bullet">
            <span class="state-char">►</span>
            <span class="retry-btn" onClick="begin_member_activate()">Retry</span>
        </span>
        Activate Member in Wild Apricot</li>
    <li id="upload_photo" class="action">
        <span id="upload_photo_bullet">
            <span class="state-char">►</span>
            <span class="retry-btn" onClick="begin_upload_photo()">Retry</span>
        </span>
        Upload Photo</li>
    <li id="google_activate" class="action">
        <span id="google_activate_bullet">
            <span class="state-char">►</span>
            <span class="retry-btn" onClick="begin_google()">Retry</span>
        </span>
        Add to Google Groups</li>
    <li id="email_indiv_activate" class="action">
        <span id="email_indiv_activate_bullet">
            <span class="state-char">►</span>
            <span class="retry-btn" onClick="begin_email_indiv()">Retry</span>
        </span>
        Send new member email to individual</li>
    <li id="email_group_activate" class="action">
        <span id="email_group_activate_bullet">
            <span class="state-char">►</span>
            <span class="retry-btn" onClick="begin_email_group()">Retry</span>
        </span>
        Send new member email to group</li>
</ul>

</form>
